
body{
  background-image: url("assets/cloud.jpeg");
  margin: 0;
  padding: 0;
}
#hero{
  width:100vw;
}
#hero h1{
  z-index: 1;
  font-family: lust-didone,serif;
  font-weight: 700;
  font-style: normal;
  font-size: 7vw;
  padding-left: 30px;
  color: white;
}
h2{
  font-size: 25px;
  font-family: futura-pt,sans-serif;
  font-weight: 400;
  font-style: bold;
  padding-left: 30px;
  color: white;
}
.body{
  font-size: 15px;
  font-family: futura-pt,sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 30px;
  color: white;
  display: block;
  margin-right: 30vw;
}
#bar{
  position: relative;
}
nav{
  display:flex;
  width: 40vw;
  justify-content: left;
  flex-wrap: nowrap;
  flex-direction: row;
}
nav a{
  margin-left: 30px;
  color: white;
  font-size: 35;
  font-family: lust-didone,serif;
  font-weight: 700;
  font-style: normal;
  bottom: 20vh;;
}
nav a:hover{
  opacity: 80%;
  font-size: 20px;
}
