body{
  margin:0px;
  padding:0px;
}
h1{
  font-family: "Playfair Display";
}
h2{
  font-family: "Playfair Display";
  font-size: 50px;
  padding:0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#hero{
  width: 98vw;
  height: 55vw;
  overflow: hidden;
  margin: 15px;
  padding:5px;
}
#hero img{
  width: 100vw;
  position: relative;
  bottom: 400px;
}
#hero h1{
  z-index: 1;
  position: relative;
  font-size: 6vw;
  top: 8vh;
  color: white;
  padding-left: 25px;
}
#first{
  margin-left: 25px;
  margin-right: 40vw;
}

#second{
  margin-left: 25px;
  margin-right: 40vw;
}
#mybutton{
  background-color: #84230B;
  font-family: "Playfair Display";
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 8px 20px;
  float:left;
  bottom: 300px;
}
#mybutton:hover{
  background-color:#D8F6FD;
  color: black;
}
#mybutton:active{
  color: black;
}
#mybutton2{
  background-color: #84230B;
  font-family: "Playfair Display";
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 8px 20px;
  float:left;
  bottom: 300px;
  margin-left: 20px;
}
#mybutton2:hover{
  background-color:#D8F6FD;
  color: black;
}
#mybutton2:active{
  color:black;
}
