Body{
  background-image: url("floral.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#header{
  font-family: bookmania, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 3vw;
  text-align: center;
}
h2{
  text-align:center;
  margin-top: auto;
  font-size: 20px;
  font-family: acumin-pro,sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
}
#sunday{
  background-color: #DBA58A;
  margin:auto;
  padding: 8vh 10vw 10vh 8vw;
  border-radius: 9px;
  max-width: 15vw;
  height: .5vh;
  align-content: center;
}
#click{
  border-radius: 8px;
  padding: 1vh 2vw;
  position: absolute;
  top: 40%;
  left: 70%;
  margin-top: 1vh;
  background-color: #996752;
  color: white;
  font-family: acumin-pro,sans-serif;
  font-weight: 700;
  font-style: normal;
}
#click:hover{
  background-color: #381A10;
  color: white;
}
#click:active{
  background-color: #81331C;
  color: white;
}
